ul.picker{
    list-style-type:none;
    border:1px solid #ccc;
    overflow-y:scroll;
    max-height: 416px;
    border-radius: 2px;

}
ul.picker li{
    margin-left: -30px;
}
/*li a{*/
    /*text-decoration: none;*/
    /*color: #000;*/
    /*height: 28px;*/
/*}*/

.report-header{
    margin-left: 30px;
    margin-bottom: -7px
}

ul.picker li:hover{
    background-color: lightgrey;
}
ul.picker li a, a:hover, a:visited{
    text-decoration: none;
    color: #000;
}

.badge-report-selector{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #eee;
    top: 50%;
    margin-right: 20px;
    margin-top: -32px;
}
.selected{
    background-size: 100%;
    /*background-image:  url("{{asset('storage/ok2.png')}}");*/
}
.try{
    border:1px solid #ccc;
    overflow-y:scroll;
}





