.space{
    border: 1px solid lightgray;
    height: 276px;
}

.space2{
    border: 1px solid lightgray;
    height: 80px;

}

#upload{
    display:none
}

#txt{
    margin: 20px 0px 0px 20px;
    width: 427px;
    height: 55px;
    resize: none;
}

ul.picker2{
    list-style-type:none;
    border:1px solid #ccc;
    overflow-y:scroll;
    max-height: 416px;
    border-radius: 2px;

}
ul.picker2 li{
    margin-left: -30px;
}
/*li a{*/
/*text-decoration: none;*/
/*color: #000;*/
/*height: 28px;*/
/*}*/

ul.picker2 li:hover{
    background-color: lightgrey;
}
ul.picker2 li a, a:hover, a:visited{
    text-decoration: none;
    color: #000;
}

ul.picker2 .icon{
    width: 50px;
    height: 50px;

    border-radius: 2px;
    overflow: hidden;
    position: absolute;
}

.badge-section-selector{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #eee;
    top: 50%;
    margin-right: 20px;
    margin-top: 10px;
}
.selected{
    background-size: 100%;
    /*background-image:  url("{{asset('storage/ok2.png')}}");*/
}

#title{
    resize: none;
    height: 79px;
    padding-right: 78px;
    margin-left: -25px;
}
